body {
    background-color: aqua;
    margin-left: 15px;
}
header {
    display: block;
}
.a_nav {
    margin-left: 20px;
    margin-right: 20px;
}
.h3_class {
    text-align: center;
}
.h2_margin {
    text-align: center;
}