body {
    background-color: lavenderblush;
    margin-left: 15px;
}
header {
    display: block;
}
.a_nav {
    margin-left: 20px;
    margin-right: 20px;
}
.a_nav2 {
    margin-left: 20px;
}
.h3-class {
    text-align: center;
}
.h2_margin {
    text-align: center;
}
.div-title {
    margin: auto;
}