@using обучениеwebd.Data.Models
@model List<CareCosmetic>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        @{foreach (var cosmetic in Model)
            {
                <h2>@cosmetic.CosmeticName</h2>   
                <p>Категория - @cosmetic.Cotegory</p>
            }
         }
    </div>
</body>
</html>
